.ket-menu {}

.scroll-container {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  background-color: transparent;
  transform: translateY(-130px);
}

.scroll-container .scroll-bg {
  width: 40px;
  height: 80px;
  border: 2px solid #21963a;
  border-radius: 40px;
  padding: 15px 0;
  cursor: pointer;
}

.scroll-bg .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #21963a;
  margin: 0 auto;
  transition: .5s;
}

@media only screen and (max-width: 991px) {
  .scroll-container {
    transform: translateY(-20px);
  }
}

.about {
  background-color: #F3F3F3;
  padding: 110px 0 65px 0;
}

.title-about {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 30px;
  color: #21963B;
  text-align: center;
  margin-bottom: 35px;
}

.desc-about {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  max-width: 886px;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .about {
    padding: 80px 0 35px 0;
  }
}

@media only screen and (max-width: 991px) {
  .about {
    padding: 70px 0 35px 0;
  }
}

@media only screen and (max-width: 767px) {
  .about {
    padding: 60px 0 35px 0;
  }
}

@media only screen and (max-width: 575px) {
  .about {
    padding: 50px 0 35px 0;
  }
}
/*  */

.varian {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 502px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  transform: translateY(50%);
}

.varian-menu, .varian-rasa {
  margin: 0 auto;
}

.title-varmen, .title-varsa {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 40px;
  color: #21963B;
}

.desc-varmen, .desc-varsa {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 20px;
  color: #21963B;
}

.garis-varian {
  height: 60px;
  width: 1px;
  background: #C4C4C4;
  margin: auto 0;
}

/*  */

.mitra {
  display: flex;
  /* background-image: url(/assets/mitra/Join\ Franchise.png);
  background-size: 100% auto;
  background-repeat: no-repeat; */
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 39px 0 39px 39px;
  margin-top: 150px;
  margin: 150px auto 0 auto;
  max-width: 1340px;
}

.con-desc-mitra {
  /* transform: translateY(25%); */
  margin-left: 90px;
  margin-top: 66px;
  max-width: 50%;
}

.img-mitra {
  padding: 42px;
  background: rgba(33, 150, 59, 0.5);
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.test-ae {
  max-width: 434px;
}

.title-mitra {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: #21963B;
  margin-bottom: 17px;
}

.desc-title {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
}

.btn-mitra {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  color: #21963B;
  padding: 10px 29px;
  border: 2px solid #21963B;
  border-radius: 10px;
  cursor: pointer;
}

.btn-mitra:hover {
  background-color: #21963B;
  color: #fff;
}

.bulat-mitra {
  width: auto;
  height: 100%;
  bottom: -11rem;
  position: relative;
  /* transform: translateY(100%); */
  /* margin-bottom: -39px; */
}

/* location */

.location {
  margin-top: 150px;
}

@media only screen and (max-width: 991px) {
  .location {
    margin-top: 50px;
  }
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 0;
  position: relative;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 541px;
  width: 100%;
}

.con-maps {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 50px;
}

.maps-1-2 {
  display: flex;
  gap: 1.5rem;
}

.maps-1, .maps-2, .maps-3 {
  background: #EEEEEE;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 50px 40px 50px 40px;
}

.maps-3 {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
}

.img-lokasi, .img-jam {
  width: 30px;
  height: 100%;
  margin-right: 40px;
}

.img-kontak {
  width: 30px;
  height: 100%;
  margin-bottom: 20px;
}

.text-jam {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  .maps-1, .maps-2, .maps-3 {
    padding: 50px 20px 50px 20px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 700px) {
  .maps-1-2 {
    flex-direction: column;
  }

  .maps-1, .maps-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
  }

  .maps-3 {
    font-size: 16px;
  }

  .img-lokasi, .img-jam {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

/* slide produk */

.con-produk {
  margin-top: 130px;
  overflow-x: hidden;
}

.title-produk {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: #21963B;
  text-align: center;
  margin-bottom: 10px;
}

.con-slide-produk {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  padding: 30px 50px;
}

::-webkit-scrollbar {
  display: none;
}

.slide-produk {
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  cursor: pointer;
}

.produk-buttom {
  display: flex;
  justify-content: end;
  padding-right: 50px;
  align-items: center;
  cursor: pointer;
}

.lihat-lain {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 25px;
  color: #21963B;
}

.fa-arrow-right{
  font-size: 30px;
  color: #21963B;
  margin-left: 10px;
  transform: translateX(0);
}

.produk-buttom:hover .fa-arrow-right {
  transform: translateX(10px);
}